@page
@model SecurityIncidentTrackerWebApp.Pages.Departments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Department.ID" />
            <div class="form-group">
                <label asp-for="Department.DepartmentName" class="control-label"></label>
                <input asp-for="Department.DepartmentName" class="form-control" />
                <span asp-validation-for="Department.DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label"><strong>Assign Technicians:</strong></label>

                <div class="mt-2">
                    @foreach (var tech in Model.AssignedTechnicianDataList)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   name="selectedTechnicians"
                                   value="@tech.TechnicianID"
                                   /* Aici verificăm dacă trebuie să fie bifat sau nu * /
                                   @(Html.Raw(tech.Assigned ? "checked=\"checked\"" : "")) />

                            <label class="form-check-label">
                                @tech.FullName
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
